/* Reset básico */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Remove as barras de rolagem */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante altura total da tela */
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh; /* Garante que ocupe a tela inteira */
}

main {
  flex: 1; /* Ocupa o espaço central */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  overflow-y: auto; /* Adiciona rolagem apenas quando necessário */
  width: 100%;
  box-sizing: border-box;
}

footer {
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
  width: 100%;
}
